#itinerary {
  height: fit-content;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 2px rgb(126 128 133 / 30%);
  @media(max-width: $tablet-breakpoint) {
    width: 100%;
    margin: 0 0 60px;
    margin-top: 0;
  }

  .date {
    padding: 10px 5px;
    background: #eaeaea;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;

    @media(max-width: $mobile-breakpoint) {
      padding: 13px 5px;
      font-size: 1.2em;
    }
  }

  .event {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
    line-height: 1;
    @media(max-width: $mobile-breakpoint) {
      flex-direction: column;
      max-width: 92%;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    .event-detail {
      display: flex;
      flex-direction: column;
      min-width: 140px;
      font-size: .9em;
      @media(max-width: 900px) {
        min-width: 120px;
        margin-right: 10px;
      }
      @media(max-width: $mobile-breakpoint) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        min-width: unset;
        margin-bottom: 0;
        font-size: 1em;
      }

      .event-time {
        margin-bottom: 3px;
        line-height: 1;
      }

      .event-location {
        font-size: .85em;
      }
    }

    .event-name {
      font-family: $body-font;
      font-size: 1.05em;
      line-height: 1.2;
      @media(max-width: $mobile-breakpoint) {
        margin-top: 7px;
        font-size: 1.1em;
      }
    }
  }
}
