#itinerary {
  height: fit-content;

  border: 1px solid #eaeaea;
  @media(max-width: $tablet-breakpoint) {
    margin-top: 0;
    margin-right: calc(-50vw + 50%)!important;
    margin-left: calc(-50vw + 50%)!important;
  }

  .date {
    padding: 10px 5px;
    background: #eaeaea;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;

    @media(max-width: $mobile-breakpoint) {
      padding: 13px 5px;
      font-size: 1.2em;
    }
  }

  .event {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
    @media(max-width: $mobile-breakpoint) {
      flex-direction: column;
      max-width: 92%;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    .event-detail {
      display: flex;
      flex-direction: column;
      min-width: 140px;
      font-size: .9em;
      @media(max-width: $mobile-breakpoint) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        margin-bottom: 0;
        font-size: 1em;
      }

      .event-time {
        margin-bottom: 3px;
      }

      .event-location {
        font-size: .85em;
      }
    }

    .event-name {
      font-family: $body-font;
      @media(max-width: $mobile-breakpoint) {
        margin-top: 2px;
        font-size: 1.15em;
        font-weight: bold;
      }
    }
  }
}
