@import 'fonts.scss', 'variables.scss', 'mixins.scss';

body {
  margin: 0;
  background: #f9f9f9;
  font-family: $body-font;
  text-rendering: optimizelegibility;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;
  font-weight: normal;
}

strong {
  font-family: $body-font-bold;
  font-weight: normal;
}

h1 {
  margin: 10px auto;
}

h2 {
  margin: 40px 0 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 2em;
  line-height: 1;
  @media(max-width: $tablet-breakpoint) {
    margin: 30px 0 20px;
  }
  @media(max-width: $mobile-breakpoint) {
    margin: 20px 0 10px;
  }
}

input[type=text],
button,
textarea {
  -webkit-appearance: none;
  outline: none;
  font-size: 1em;
  transition: $transition;
}

.layout {
  max-width: 1050px;
  margin: auto;
  background: white;
  box-shadow: 0 0 5px #d1d1d1;
}

.hero {
  position: relative;
  width: 100%;

  .hero-image {
    @media(max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  .hero-image-mobile {
    display: none;
    @media(max-width: $mobile-breakpoint) {
      display: block;
    }
  }
}

main {
  grid-gap: 40px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 0 40px 40px;
  @media(max-width: $tablet-breakpoint) {
    grid-template-columns: 1fr;
    padding: 0 30px 30px;
  }
  @media(max-width: $mobile-breakpoint) {
    padding: 0 20px 20px;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 1.3em;
  }

  p {
    margin-top: 0;
    font-size: 1.05em;
    line-height: 1.4;
  }

  .detail {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: unset;
    }

    ul {
      padding-inline-start: 20px;

      li {
        margin-bottom: 15px;
      }
    }
  }

  #itinerary {
    height: fit-content;
    margin-top: 40px;
    border: 1px solid #eaeaea;
    @media(max-width: $tablet-breakpoint) {
      margin-top: 0;
      margin-right: calc(-50vw + 50%)!important;
      margin-left: calc(-50vw + 50%)!important;
    }

    .date {
      padding: 10px 5px;
      background: #eaeaea;
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;

      @media(max-width: $mobile-breakpoint) {
        padding: 13px 5px;
        font-size: 1.2em;
      }
    }

    .event {
      display: flex;
      padding: 15px;
      border-bottom: 1px solid #eaeaea;
      @media(max-width: $mobile-breakpoint) {
        flex-direction: column;
      }

      &:last-of-type {
        border-bottom: none;
      }

      .event-detail {
        display: flex;
        flex-direction: column;
        min-width: 140px;
        font-size: .9em;
        @media(max-width: $mobile-breakpoint) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: auto;
          font-size: 1em;
        }

        .event-time {
          margin-bottom: 3px;
        }

        .event-location {
          font-size: .85em;
        }
      }

      .event-name {
        font-family: $body-font;
        @media(max-width: $mobile-breakpoint) {
          margin-top: 7px;
          font-size: 1.15em;
        }
      }
    }
  }
}

#rsvp {
  fieldset {
    margin-bottom: 20px;
    padding: 10px 0;
    border: none;

    .field-title {
      display: block;
      margin-bottom: 6px;
      font-family: $label-font;
      font-size: 1.15em;
    }

    input[type='text'] {
      @include input-text-fields();
      width: fill-available;
    }

    input[type='radio'],
    input[type='checkbox'] {
      margin-right: 5px;
      margin-left: 20px;

      &:first-of-type {
        margin-left: unset;
      }
    }

    textarea {
      @include input-text-fields();
      width: fill-available;
      height: 120px;
    }

    label {
      font-size: 1.2em;
    }

    &.hidden-field {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    &.hidden-label {
      label{
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }
  }

  .submit {
    padding: 8px 12px;
    border: 1px solid #121212;
    border-radius: 3px;
    background: #121212;
    color: white;
    font-size: 1em;
    @media(max-width: $mobile-breakpoint) {
      padding: 10px 14px;
      font-size: 1.1em;
    }

    &:hover {
      background: white;
      color: #121212;
      cursor: pointer;
    }
  }

  .rsvp-part-2,
  .rsvp-part-3 {
    transition: all 1 ease-out;

    &.hidden {
      height: 1px;
      transform: scale(1, 0.01);
      opacity: 0;
      transition: all 1 ease-out;
    }
  }
}

.error {
  border: 1px solid #c79696;
  background: #f6dada;
  color: #851c1c;
}

.success {
  border: 1px solid #7aaa7e;
  background: #cbecd4;
  color: #3c8142;
}

.response {
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 5px;
  font-family: $label-font;
}

#registry{

  .registry-title {
    margin: 70px 0 0;
    border-bottom: none;
    font-size: 1.8em;
    line-height: 1;
  }

  form {
    margin: 0;
    border-bottom: 1px solid #e9e9e9 !important;

    &:last-of-type {
      border-bottom: none !important;
    }
  }
}

.registry-gift {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 15px 10px;
  border: none;
  transition: $transition;

  &:hover {
    background: #36383d;
    cursor: pointer;

    * {
      color: white;
    }
  }


  .gift-details {
    width: 100%;
    margin-left: 20px;

    .gift-headline {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .registry-gift-title {
        font-size: 1.1em;
      }
    }

    .gift-description {
      margin-top: 3px;
      margin-bottom: 8px;
      font-size: .95em;
      line-height: 1.2;
    }
  }

  .registry-gift-title {
    font-family: $header-font;
  }
  .registry-image {
    min-width: 130px;
  }

  button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    float: right;
    border: none;
    outline: none;
    background: none;
    color: #36383d;
    font-family: $header-font;
    font-size: .95em;
    @media(max-width: $mobile-breakpoint) {
      padding: 10px 14px;
      font-size: 1em;
    }

    span {
      display: block;
      margin-right: 5px;
    }
  }
}
