@mixin input-text-fields() {
  @include input-field-interactions();
  padding: 10px;
  border: 1px solid #d6dde9;
  border-radius: 3px;
  background: #f7f8fa;
}

@mixin input-field-interactions() {
  -webkit-appearance: none;
  transition: $transition;

  &::placeholder {
    color: #a2a7ba;
    opacity: 1;
  }

  &:hover {
    border-color: scale-color($theme-color, $lightness: 30%);
    background: scale-color($theme-color, $lightness: 90%);
    cursor: text;

    &::placeholder {
      color: scale-color($theme-color, $lightness: 30%);
    }
  }

  &:focus {
    border-color: scale-color($theme-color, $lightness: 30%);
    background: white;
  }
}


@mixin section-title() {
  margin: 0 0 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 2em;
  line-height: 1;
  @media(max-width: $tablet-breakpoint) {
    margin: 30px 0 20px;
  }
  @media(max-width: $mobile-breakpoint) {
    margin: 0 0 10px;
  }
}
