

// Font Colors
$body-color: #414d5a;
$theme-color: #deab3b;

// Breakpoints
$tablet-breakpoint: 800px;

// Font Styles
$body-font: "MacklinText-Light", Trebuchet, serif;
$header-font: "Gilroy-Medium", Helvetica, Arial, sans-serif;

// Misc
$transition: all .3s ease-out;
