

// Font Colors
$body-color: #414d5a;
$theme-color: #deab3b;

// Breakpoints
$tablet-breakpoint: 800px;
$mobile-breakpoint: 600px;

// Font Styles
$body-font: 'MacklinText-Light', Trebuchet, serif;
$body-font-bold: 'MacklinText-Medium', Trebuchet, serif;
$header-font: 'Gilroy-Medium', Helvetica, Arial, sans-serif;
$label-font: 'Gilroy-Regular', Helvetica, Arial, sans-serif;

// Misc
$transition: all .3s ease-out;
