#venue {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 0 40px;
  color: unset;

  a {
    display: block;
    overflow: hidden;
    color: unset;
    transition: $transition;

    &:hover {
      color: $theme-color;
      cursor: pointer;
    }
  }

  .map-wrapper {
    margin-right: 15px;
    border-radius: 3px;
    @media(max-width: $tablet-breakpoint) {
      max-width: 30% !important;

      .mapboxgl-canvas {
        max-width: unset !important;
      }
    }

    &:hover {
      opacity: .7;
    }

    .mapboxql-map {
      @media(max-width: 900px) {
      width: 100%;
      min-width: 85px;
      height: 85px;
    }
    }
  }

  .venue-details {
    min-width: 232px;
    @media(max-width: 900px) {
      min-width: 200px;
    }
  }

  .venue-name {
    display: block;
    margin-bottom: 5px;
    font-family: $header-font;
    font-size: 1.1em;
    line-height: 1;
    @media(max-width: 900px) {
      font-size: 1em;
    }
  }

  .address-line {
    display: block;

    &:last-of-type {
      margin-top: 5px;
      font-size: .85em;
      line-height: 1;
    }
  }
}
